pytest
pytest-cov
hypothesis
requests
PyYAML
pytest-socket
responses
rich
typer[all]
click
jsonschema>=3.2
pydantic>=2
fastapi
httpx
matplotlib
pydeps
sphinx
sphinx_rtd_theme
uvicorn
httpx
pytest-env
